@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Bem-vindo!</h1>
        <p>Esta é uma página para salvar filmes favoritos</p>
        <hr class="my-4">
        <a class="btn btn-primary" asp-page="./Filmes/Index">Ver Lista</a>
    </div>
</div>