@page

@{
    ViewData["Title"] = "Página Sobre";
}

<div class="container">
    <p>Aplicação simples para entender conceitos básicos do ASP.NET, desenvolvido por Alexandre Santos Cavalcante</p>
    <hr>
    <h4>Contatos</h4>
    <div class="row">
        <a href=https://www.linkedin.com/in/alexandre-cavalcante-60a099189/" class="btn btn-link">Linkedin</a>
        <a href="https://github.com/ASCDevs" class="btn btn-link">Github</a>
    </div>
</div>
